html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-style: normal;
    font-family: sans-serif;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
}
nav {
    background: #10acb8e7;
    border-bottom: 5px double black;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    text-align: center;
    position: relative;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #55d6aa;
    position: absolute;
    top: 75%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}