.navbarcolor{
    background-color: #333333;
}

#tartalom {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

#szerencse {
    margin-right: 500px;
    text-align: justify;
}

h1 {
    font-size: 30px;
    padding-top: 55px;
}

img {
    float: right;
}

nav {
    font-family:fantasy;
    font-size: 1.2em;
}

.dropdown-menu{
    background-color: #666666;
}

.dropdown-item{
    color: white;
}